<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-title>{{'title_screen_preference' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="background-color">

  <ion-grid fixed>

    <ion-row>
      <ion-col text-center padding>

        <ion-img width="100" height="100" src="assets/imgs/ic_tiempobus_5_acercade.png"></ion-img>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center padding>
        <h3>{{'app_name_b' | translate}} {{'app_version' | translate}}</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Alberto Montiel (2018)
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        alberapps@gmail.com
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <a href="https://alberapps.blogspot.com" target="_blank">alberapps.blogspot.com</a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Traducciones: <a href="https://magnoling.com" target="_blank">magnoling.com</a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <h4>{{'app_licencia_desc' | translate}}</h4>
        <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">gnu.org/licenses/gpl.html</a>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        {{'acercade_info_nuevo' | translate}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <a href="https://alicante.vectalia.es" target="_blank">alicante.vectalia.es</a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        {{'detalle_licencia' | translate}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        {{'legal' | translate}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        {{'legal_b' | translate}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        {{'aviso_legal_analytics' | translate}}
      </ion-col>
    </ion-row>



  </ion-grid>

</ion-content>
