.no-info {
  width: 100%;
  text-align: center;
}

.text-xx-large {
  font-size: 2em;
}

.text-1 {
  font-size: 21px;
}


.text-large-bold {
  font-size: large;
  font-weight: bold;
}

.text-large-bold-blue {
  font-size: large;
  font-weight: bold;
  color: #3f51b5;
}
